node_modules
dist
.git
.gitignore
.nx
.husky
*.md
*.log
*.env

Dockerfile
.dockerignore

apps/*/.next
apps/*/node_modules
apps/*/dist
apps/*/build
apps/*/.env

# Nx workspace specific
.nx/workspace-data
